.div_left{
 	width: 225px;
 	height: 100%;
 	border: 1px solid red;
	float: left;
}
.div_left .css_title{
	background-color: #106DCD;
    color: white;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font: normal bold 14px arial,sans-serif;
}
.div_right{
 	height: 100%;
 	border: 1px solid green;
 	margin-left: 230px !important;
}
<<<<<<< HEAD:src/main/webapp/css/sys/userdept/main.css

=======
>>>>>>> 4b722529099eeeb99ff1d4a9132d0629d853a2b1:src/main/webapp/css/sys/userdept_main.css
.div_btn{
	border: 1px solid grey;
	padding-top:5px;
	height: 30px;
}